* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1052bb;
  color: #fff;
}

div.container {
  width: 100%;
  height: 100%;
  padding: 2.2rem;
  position: relative;
}

nav.menu__container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12rem;
}

ul.menu__items {
  display: flex;
  list-style: none;
}

ul.menu__items > li {
  margin: 0 1rem;
  cursor: pointer;
  transition: all .3s ease;
}

ul.menu__items > li:hover {
  transform: scale(1.4);
}

header.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
}

div.left__section {
  width: 50%;
  padding: 2rem;
}

h1.header__title {
  font-size: 65px;
  margin-bottom: 1rem;
}

h2.header__subtitle {
  margin-bottom: 1.2rem;
}

p.header__text {
  line-height: 1.4;
}

button.buy {
  margin-top: 2rem;
  height: 45px;
  width: 160px;
  background-color: #52eb69;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: all .3s ease;
}

button.buy:hover {
  transform: translateY(1.4px);
}

picture.img__container {
  width: 50%;
}

img {
  width: 80%;
}

article.modal {
  width: 190px;
  color: #000;
  height: 190px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translateX(-1000px);
  transition: transform .2s ease;
}