* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
}

main.container {
  width: 100%;
  height: 65%;
}

div.app {
  padding: 4rem 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  margin-bottom: 1rem;
}

div.input {
  width: fit-content;
}

input {
  width: 280px;
  height: 35px;
  padding: 1rem;
  font-weight: bold;
  border: 1px solid #555454;
  outline: none;
}

button.btn {
  width: 100px;
  margin: 0 .8rem;
  height: 35px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #2360dc;
  color: #fff;
  cursor: pointer;
  transition: transform .3s ease;
}

button.btn:hover {
  transform: scale(1.1);
}

select.selection {
  margin-top: 1.2rem;
  width: 90px;
  height: 30px;
  padding: .2rem;
  font-weight: bold;
}

span {
  font-size: 1rem;
  margin-left: 1rem;
}